$lightOrange: #FFCA08;
$darkOrange: #21f5ea;
$lightBlue: #05405c;
$darkBlue: #03203a;
$deepBlue: #010e1a;
$solidGold: #645e05;
$darkGray: #222222;
$rowDarkGray: rgb(53, 53, 53);
$rowLightGray: rgb(46, 46, 46);