@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

body {
  background: $darkGray;
  color: white;
  font-family: "Roboto";
}

// .buttonCell {
//   width: 150px;
// }

.textInput {
  display: block;

  // margin-right: auto;
  width: 60%;
  border: 3px $solidGold;
  height: 50px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: $darkOrange;
  animation: colorRotate 6s linear 0s infinite;
}

h2 {
  text-align: center;
  color: $darkOrange;
}

textarea {
  width: 80%;
  // margin: auto;
  font-family: "Roboto";
}

.messageContents {
  max-width: 50%;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

.messageContents {
  overflow-wrap: break-word;
  word-wrap: break-all;
  max-width: 300px;
}

#MessageContent {
  margin: auto;
  display: flex;
  justify-content: space-around;
}

#content {
  margin: 10px 0px 0px 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

#MessageDisplay {
  max-height: 70vh;
  overflow-y: auto;
  margin: auto;
  display: inline-block;
  min-width: 70vw;
}

table,
th,
td {
  border-collapse: collapse;
  tr:nth-child(even) {
    background-color: $rowDarkGray;
  }
  tr:nth-child(odd) {
    background-color: $rowLightGray;
  }
  padding: 15px;
  tr:hover{
    background-color: rgb(100, 100, 100);
  }
}

.timestamp {
  width: 10%;
}

.usernameMessage {
  width: 10%;
}

.messageContents {
  width: 50%;
}

.actionButtons {
  width: 7%;
}

.editMessageInput {
  width: 100%;
}

.editBtn {
  background: transparent;
  color: $lightOrange;
  border: none;
}

.deleteBtn {
  background: transparent;
  color: $lightOrange;
  border: none;
  height: 50px;
  width: 100px
}
.editBtn {
  background: transparent;
  color: $lightOrange;
  border: none;
  height: 50px;
  width: 100px;
}

.deleteBtn:hover {
  background: rgba(255, 0, 0, 0.418);
  color: $lightOrange;
  border: none;
  transition-duration: 0.3s;
}
.editBtn:hover {
  background: rgba(255, 255, 255, 0.233);
  color: $lightOrange;
  border: none;
  transition-duration: 0.3s;
}

.inputFields {
  display: flex;
}
.inputFields button {
  justify-content: flex-start;
  border: 1px solid $darkOrange;
  border-radius: 5px;
  margin: 10px 0px 0px 10px;
  padding: 10px;
}
.inputFields button:hover {
  background-color: $darkOrange;
  color: $darkGray;
  transition-duration: .5s;
}

.inputFields button:hover {
  justify-content: flex-start;
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.233);
}

#loginUsername {
  height: 30px;
  margin: auto;
  width: 300px;
}

#loginPassword {
  height: 30px;
  margin: auto;
  width: 300px;
}

.submitButton {
  background-color: transparent;
  color: $darkOrange;
}

#loginButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    margin: 10px;
    height: 40px;
    background-color: transparent;
    border: 1px solid $darkOrange;
    border-radius: 5px;
  }
  button:hover {
    background-color: $darkOrange;
    color: $darkBlue;
    transition-duration: 0.5s;
  }
}

#createUsername {
  height: 30px;
  margin: auto;
  width: 300px;
}

#createPassword {
  height: 30px;
  margin: auto;
  width: 300px;
}

#editedFlag {
  color: rgb(173, 173, 173);
  font-size: 13px;
}